.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /* border: 1px solid red; */
}


/* .logo {
  width: 183px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}
.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  background-image: url('../images/logo_place_header.svg');
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
} */

/* ******** */
/* .header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px; */
  /* выше установили ограничения для секции */
  /* position: relative;
  background-color: #f2f2f2;
  display: flex;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  align-self: center;
  padding-left: 64px;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 11;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
} */

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/* .header__square-pic {
  height: 568px;
  width: 568px;
} */

/* .description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
} */
/*
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
} */

/* .digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
} */

/* .section-title {
  margin: 0;
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 69px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  margin: 0;
  padding-top: 20px;
  width: 60%;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.section-subtitle_theme_dark {
  color: white;
} */

/* .table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
}
.table_theme_dark {
  color: white;
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
} */

/* и элемента с модификатором вида ключ-значение */
/* .table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.table__heading_theme_dark {
  color: white;
}

.table__text {
  margin: 20px 0 0 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.table__text_theme_dark {
  color: white;
} */

/* .feinman {
  position: relative;
  height: 790px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}

.feinman__title {
  width: 648px;
  margin: 0 auto 70px;
  padding-top: 100px;
  text-align: center;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
}

.feinman__subtitle {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: black;
} */

/* .kaufman {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
} */

.footer {
  display: flex;
  align-items: stretch;
  background-color: #1f1f1f;
  min-height: 350px;
  padding: 60px 0 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  /* align-items: stretch; */
  margin: 0 auto;
  width: 90%;
}

.footer__column {
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  /* background-color: wheat; */
}

.footer__column_content_info {
  /* background-color: royalblue; */

}

.footer__column_content_social {
  /* background-color: seagreen; */
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: white;
}

.footer__column-links {
  margin: 0 0 18px 0;
  padding-left: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  list-style: none;
}

.footer__link {
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: white;
}
