.khan__buy-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #2f80ed;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: 70%;
  transition: opacity 0.1s ease;
}
